h1 {
  display: flex;
  justify-content: center;
  color: aqua;
  font-size: 50px;
  text-shadow: 3px 3px 5px black;
}
body {
  background-color: gray;
}
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.search-box input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.search-box select {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 40px;
  width: auto;
}
.search {
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.flight-table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 2px solid black;
  border-radius: 5px;
}

.flight-table th,
.flight-table td {
  padding: 12px;
  border: 2px solid black;
  text-align: center;
}

.flight-table th {
  background-color: #007bff;
  color: #fff;
}

tbody {
  background-color: #fff;
  color: #333;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

tbody tr {
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 12px;
}

tbody tr:hover {
  background-color: #f9f9f9;
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

tbody td {
  padding: 16px 20px;
  border-bottom: 1px solid #eee;
}

tbody tr:last-child td {
  border-bottom: none;
}
