h1 {
  display: flex;
  justify-content: center;
  color: aqua;
  font-size: 50px;
  text-shadow: 3px 3px 5px black;
}
body {
  background-color: gray;
}
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.search-box input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.search-box select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 40px;
  width: auto;
}
.search {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.flight-table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}

.flight-table th,
.flight-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.flight-table th {
  background-color: #007bff;
  color: #fff;
}

.flight-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.flight-table tbody tr:hover {
  background-color: #ddd;
}
